<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.practice.student.mapper.StudentMapper">


    <select id="selectStudentAll" resultType="com.practice.student.model.Student">
        /*  학생 정보들을 가져옴 */
        select
             stu_id as stuId
            ,stu_grade as stuGrade
            ,stu_class as stuClass
            ,stu_name as stuName
        from
            students
    </select>

    <select id="selectStudentOne" parameterType="long" resultType="com.practice.student.model.Student">
        select
            stu_id as stuId
             ,stu_grade as stuGrade
             ,stu_class as stuClass
             ,stu_name as stuName
        from
            students
        where
            stu_id = #{stuId}
    </select>

    <insert id="insertStudent" parameterType="com.practice.student.model.Student">
        insert into students
            (stu_grade, stu_class, stu_name)
        values
            (#{stuGrade},#{stuClass},#{stuName})
    </insert>

    <update id="updateStudent" parameterType="com.practice.student.model.Student">
        update
            students
        set
            stu_grade = #{stuGrade}
           ,stu_class = #{stuClass}
           ,stu_name = #{stuName}
        where
            stu_id = #{stuId}
    </update>

    <delete id="deleteStudent" parameterType="long">
        delete from
            students
        where
            stu_id = #{stuId}
    </delete>
</mapper>